body{
    font-family:sans-serif;
}
#navBar a{
    text-decoration: none;
    margin-left: 10%;
    line-height: 2.5;
    font-size: 1.5rem;
    color: darkkhaki;
   
}
#navBar{
    background: brown;
    height: 8vh;
}
.container{
    height: 48vh;
    text-align: center;
}
.footer{
    height: 17vh;
    background-color: black;
    text-align: center;
}
.heading{
    margin-bottom: 100px;
}
#profilePic{
    height: 300px;
    width: 300px;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    transition: 1s;
    position: absolute;
    top: 18%;
    left: 40%;
}
#profilePic:hover{
    transform: translateX(100%);
    border-radius: 50%;
}
.container2{
    width: 50%;
    margin: auto;
    text-align: center;
}
.logo{
    height: 50px;
    width: 50px;
    margin-left: 70px;
}
.linkedIn-img{
    height: 40px;
    width: 40px;
    border-radius: 5px;
}
.footer a{
    position: relative;
    bottom: 10%;
    text-decoration: none;
    font-size: 1.2rem;
    color: darkkhaki;  
}
.footer img{
    margin-top: 60px;
}
.content{
    display: grid;
    overflow-y: scroll;
    margin: 20px auto;
    width: 90vw;
    height: 70vh;
    grid-gap: 20px;
    grid-template-columns: repeat(5,250px);
    justify-content: center;
    
}
.img1{
    grid-column: span 2;
}
.img8{
    grid-column: span 2;
}
.img9{
    grid-column: span 2;
}
.imageDiv{
    width: 250px;
    height: 250px; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.gallaryButton{
    width:80px;
    height: 30px;
}
.buttonContainer{
    display: flex;
    justify-content: space-around;
    
}