#navBar a{
    text-decoration: none;
    margin-left: 10%;
    line-height: 2.5;
    font-size: 1.5rem;
    color: darkkhaki;
   
}
#navBar{
    background: brown;
    height: 8vh;
}
#body{
    height: 70vh;
}
.footer{
    height: 20vh;
    background-color: black;
}

.frame{
    position: absolute;
    top: 20%;
	left: 40%;
	width: 400px;
	height: 400px;
    background-color:darkkhaki ;
    border-radius: 2px;
	box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
}
.person{
    position: relative;
    left: 40%;
    top: 10%;
    background-color: cadetblue;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.personBody{
    position: relative;
    top: 100%;
    height: 200px;
    background-color: cadetblue;
}